<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhadresha.tejas.sannibh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".flag"
        android:allowBackup="true"
        android:icon="@mipmap/sannibh"
        android:label="Sannibh Technologies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".start"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".about"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".services"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".software_dlp"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".mentoring"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".training"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".finishing_school"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".gallery"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".cppd"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".contact"
            android:theme="@style/MyTheme" />
        <activity android:name=".login_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

    </application>

</manifest>